{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-DQsTnh/0Hw6bZV4W0H0DvhLM59tltpSTCA4AON14g7NQ7a8eKB2MgKg4gBLLB+liTALhIiC/O0SOqtfOrWdkTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block title %}Tarefas{% endblock %}

{% block content %}
    <div class="container">
        <h1>Tasks</h1>
        <div class="task-actions">
            <a href="{% url 'create_task' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Criar Tarefa</a>
        </div>
        <ul class="task-list">
            {% for task in tasks %}
                <li class="task-item">
                    <div class="task-header">
                        <h2>{{ task.title }}</h2>
                        <div class="task-actions">
                            <a href="{% url 'update_task' task.id %}" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Editar</a>
                            <a href="{% url 'delete_task' task.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Excluir</a>
                            <a href="{% url 'detail_task' task.id %}" class="btn btn-secondary"><i class="fas fa-info-circle"></i> Detalhes</a>
                        </div>
                    </div>
                    <p>{{ task.description }}</p>
                    <ul class="task-details">
                        <li>
                            {% if task.project %}
                                <span class="detail-label">Projeto:</span> {{ task.project.name }}
                            {% else %}
                                <span class="detail-label">Projeto:</span> Sem projeto
                            {% endif %}
                        </li>
                        <li>
                            <span class="detail-label">Tags:</span>
                            <ul class="tag-list">
                                {% for tag in task.tags.all %}
                                    <li>{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><span class="detail-label">Prioridade:</span> {{ task.priority }}</li>
                        <li><span class="detail-label">Data de Vencimento:</span> {{ task.due_date }}</li>
                        <li><span class="detail-label">Criado por:</span> {{ task.created_by.username }}</li>
                        <li><span class="detail-label">Criado em:</span> {{ task.created_at|date:"d/m/Y H:i" }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
