{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-DQsTnh/0Hw6bZV4W0H0DvhLM59tltpSTCA4AON14g7NQ7a8eKB2MgKg4gBLLB+liTALhIiC/O0SOqtfOrWdkTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /* Estilos específicos para o formulário de criação de tarefa */
    .form-container {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .form-header {
        margin-bottom: 20px;
    }
    .form-actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    .form-actions .btn {
        display: flex;
        align-items: center;
        gap: 5px;
    }
</style>
{% endblock %}

{% block title %}Editar Tarefa{% endblock %}

{% block content %}
    <div class="container form-container">
        <h1 class="form-header text-center">Editar Tarefa</h1>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{% endblock %}
