<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tarefas{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-DQsTnh/0Hw6bZV4W0H0DvhLM59tltpSTCA4AON14g7NQ7a8eKB2MgKg4gBLLB+liTALhIiC/O0SOqtfOrWdkTg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            padding-top: 56px;
        }
        .navbar-custom {
            background-color: #007bff;
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link,
        .navbar-custom .btn {
            color: white;
        }
        .navbar-custom .nav-link:hover,
        .navbar-custom .btn:hover {
            color: #ddd;
        }
        .content-container {
            padding: 30px;
        }
        .btn-profile, .btn-logout {
            margin-left: 10px;
        }
    </style>
    {% block styles %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <a class="navbar-brand" href="#">Gerenciador de Tarefas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_task' %}">Minhas Tarefas</a>
                </li>
                {% endif %}
                <!-- Adicione aqui outros links do menu -->
            </ul>
            <div class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-outline-light btn-profile">Meu Perfil</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-light btn-logout">Sair</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
                <a href="{% url 'register' %}" class="btn btn-outline-light">Cadastre-se</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-Xv0bLOA0BWJZQOnJ60wTr1y7I5bd03NRXz96wZIpYdIFl0Pb9PBJxLFT4NWpDA6p"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgpsntU5FYX5N6HP65aNm+AdA6XN3Y5Wz7ZoW0Y8U0vfC2CPwm"
        crossorigin="anonymous"></script>
</body>

</html>
